include ../blocks/header/header.pug
include ../blocks/welcome/welcome.pug
include ../blocks/post/post.pug
include ../blocks/posts/posts.pug
include ../blocks/contacts/contacts.pug
include ../blocks/list/list.pug
include ../blocks/footer/footer.pug
include ../blocks/sub-nav/sub-nav.pug
