mixin posts(modifier)
  section.posts&attributes(attributes)
    +post("London", "180-182 REGENT STREET, LONDON, W1B 5BT", "Lorem ipsum dolor sit amet, consectetur adipiscing esi elit. Vivamus at arcu sem. Vestibulum ornare eleifendit massa, nec tempor odio. Fusce posuere nunc iaculis ligula viverra iaculis. Aliquam erat volutpat.", "#")
    +post("New York", "109 COLUMBUS CIRCLE, NEW YORK, NY 10023", "Nunc non posuere nisl. Etiam finibus vel dui nec lobor\u00ADtis. Aliquam egestas, sem quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mi eu\u00A0nibh. Nullam vitae aliquam dui, non sodales nisl.", "#")
    +post("Paris", "2133 RUE SAINT-HONORÉ, 75001 PARIS", "Ut interdum fermentum blandit. Donec nec lacus egetit mi rhoncus eleifend. Curabitur laoreet nisl eget rutruml auctor. Vestibulum ante ipsum primis in faucibus orcip luctus et ultrices posuere cubilia curae cras ligula.", "#")