.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 214px;

  &__title {
    margin-bottom: 10px;
    font-size: px-to-em(13);
    line-height: lh-to-pct(20, 13);
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  &__item {
    margin-top: 16px;
  }
  &__link {
    font-size: px-to-em(14);
    line-height: lh-to-pct(20, 14);
    font-weight: 300;
    text-decoration: none;
    color: #727272;
    transition: 0.3s;
    &:hover {
      color: #00c8c8;
    }
  }
}
